HTTP_PORT=:8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/insider_one_assessment?sslmode=disable
AMQP_URL=amqp://guest:guest@localhost:5672/
PROVIDER_URL=https://webhook.site/replace-me
PROVIDER_TIMEOUT=5s
PROVIDER_MOCK_RESPONSE=202
CHANNEL_RATE_LIMIT=100
LOG_LEVEL=ERROR
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318